*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
ph.pdf
marinethoughts.pdf
shelf-num/shelf_num.pdf
ice_bib.bib
*.pyc
*~
igs*
bodverif*.pdf
plhalfar.pdf
twoparabolas.pdf
figure1.pdf
verifN.pdf

