*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
exmarine.pdf
ice_bib.bib
*.pyc
*~
igs*
bodverif*.pdf
twoparabolas.pdf
verifN.pdf
old/*.pdf

